.screen_loading_comp{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.screen_loading_comp p{
    color: var(--yellow);
    font-weight: 900;
    font-size: 40px;
}