*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow: #F5C518;
  --black: #000000;
  --border: #B2AFA7;
  --white: #FFFFFF;
  --backdrop: #272623;
  --disabled: #3F3C34;
}

html{
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;

  background-color: var(--black);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}
